{
  "groups": {},
  "dials": {
    "0": {
      "id": 6,
      "title": "slashdot.org",
      "url": "http://slashdot.org/",
      "thumbnail": "https://s3.amazonaws.com/fvd-data/sdpreview/0/c17a922d/1377466102-521a76f6a79ff/preview.png",
      "ts_created": 1380295577,
      "visits": 262,
      "visits_morning": 58,
      "visits_afternoon": 72,
      "visits_evening": 78,
      "visits_night": 56,
      "position": 0,
      "idgroup": 0
    },
    "1": {
      "id": 3,
      "title": "www.facebook.com",
      "url": "https://www.facebook.com/",
      "thumbnail": "https://s3.amazonaws.com/fvd-data/sdpreview/0/22ae9a07/1377503030-521b0736be7df/preview.png",
      "ts_created": 1380295577,
      "visits": 619,
      "visits_morning": 130,
      "visits_afternoon": 158,
      "visits_evening": 202,
      "visits_night": 129,
      "position": 1,
      "idgroup": 0
    },
    "2": {
      "id": 4,
      "title": "www.mangaupdates.com",
      "url": "http://www.mangaupdates.com/",
      "thumbnail": "https://s3.amazonaws.com/fvd-data/sdpreview/0/e1c000db/1377466273-521a77a1cc04f/preview.jpg",
      "ts_created": 1380295577,
      "visits": 2380,
      "visits_morning": 477,
      "visits_afternoon": 642,
      "visits_evening": 733,
      "visits_night": 528,
      "position": 2,
      "idgroup": 0
    },
    "3": {
      "id": 7,
      "title": "www.surrenderat20.net",
      "url": "http://www.surrenderat20.net/",
      "thumbnail": "https://s3.amazonaws.com/fvd-data/sdpreview/0/84bf5fcb/1393806046-5313cade22930/preview.png",
      "ts_created": 1380295577,
      "visits": 308,
      "visits_morning": 67,
      "visits_afternoon": 80,
      "visits_evening": 96,
      "visits_night": 64,
      "position": 3,
      "idgroup": 0
    },
    "4": {
      "id": 10,
      "title": "Reddit",
      "url": "http://www.reddit.com",
      "thumbnail": "http://farm9.staticflickr.com/8114/8659196901_a5e301b242_o.png",
      "ts_created": 1380295995,
      "visits": 1665,
      "visits_morning": 319,
      "visits_afternoon": 459,
      "visits_evening": 532,
      "visits_night": 355,
      "position": 4,
      "idgroup": 0
    },
    "5": {
      "id": 11,
      "title": "Batoto",
      "url": "http://www.batoto.net",
      "thumbnail": "https://s3.amazonaws.com/fvd-data/sdpreview/0/eef33111/1377466274-521a77a2ba767/preview.jpg",
      "ts_created": 1380296026,
      "visits": 239,
      "visits_morning": 50,
      "visits_afternoon": 58,
      "visits_evening": 84,
      "visits_night": 47,
      "position": 5,
      "idgroup": 0
    },
    "6": {
      "id": 16,
      "title": "Ars Technica",
      "url": "http://arstechnica.com",
      "thumbnail": "https://pbs.twimg.com/profile_images/2215576731/ars-logo.png",
      "ts_created": 1391202624,
      "visits": 81,
      "visits_morning": 24,
      "visits_afternoon": 22,
      "visits_evening": 22,
      "visits_night": 13,
      "position": 6,
      "idgroup": 0
    },
    "7": {
      "id": 15,
      "title": "Craigslist",
      "url": "http://www.craigslist.org",
      "thumbnail": "http://farm6.static.flickr.com/5108/5613126266_b2d2b57e01_o.png",
      "ts_created": 1381604093,
      "visits": 51,
      "visits_morning": 10,
      "visits_afternoon": 16,
      "visits_evening": 17,
      "visits_night": 8,
      "position": 8,
      "idgroup": 0
    },
    "8": {
      "id": 17,
      "title": "Youtube",
      "url": "http://www.youtube.com",
      "thumbnail": "http://farm6.static.flickr.com/5266/5612548979_9d0135356c_o.jpg",
      "ts_created": 1394116076,
      "visits": 41,
      "visits_morning": 11,
      "visits_afternoon": 13,
      "visits_evening": 14,
      "visits_night": 3,
      "position": 999,
      "idgroup": 0
    },
    "9": {
      "id": 21,
      "title": "Webupd8",
      "url": "http://www.webupd8.org/",
      "thumbnail": "http://4.bp.blogspot.com/-YrDU2kz1FHA/UuzmC70WBDI/AAAAAAAARRg/Dt_Sv9S5ZdM/s1600/logo-main.png",
      "ts_created": 1394835178,
      "visits": 7,
      "visits_morning": 0,
      "visits_afternoon": 2,
      "visits_evening": 5,
      "visits_night": 0,
      "position": 999,
      "idgroup": 0
    }
  },
  "settings": {
    "firstTime": "false",
    "options.alwaysNewTab": "0",
    "options.appOrder": 
"[\"pjkljhegncpnkpknbcohdijeoejaedia\",\"ejjicmeblgpmajnghnpcppodonldlgfn\",\"apdfllckaahabafndbhieahigkjlhalf\",\"coobgpohoikkiipiblmjeljniedjpjpf\",\"fbangkleohkafngihneedemihgfeikcl\",\"ipebkipbeggmmkjjljenoblnfaenambp\",\"blpcfgokakmgnkcojhhkbfbldkacnbeo\",\"ahfgeienlihckogmohjhadlkjgocpleb\"]",
    "options.apps.align": "center",
    "options.apps.iconsize": "medium",
    "options.apps.position": "bottom",
    "options.apps.show": "0",
    "options.apps.theme": "dark",
    "options.background": "http://images8.alphacoders.com/433/433896.jpg",
    "options.backgroundPattern": "",
    "options.backgroundPosition": "right top",
    "options.backgroundSize": "original",
    "options.centerThumbnailsVertically": "1",
    "options.centerVertically": "1",
    "options.colors.bg": "FFFFFF",
    "options.colors.border": "CCCCCC",
    "options.colors.borderover": "999999",
    "options.colors.dialbg": "FFFFFF",
    "options.colors.dialbginner": "FFFFFF",
    "options.colors.dialbginnerover": "FFFFFF",
    "options.colors.dialbgover": "FFFFFF",
    "options.colors.title": "8C7E7E",
    "options.colors.titleover": "333333",
    "options.columns": "4",
    "options.defaultGroupColor": "#FFF",
    "options.defaultGroupName": "Home",
    "options.dialSpace": "90",
    "options.dialspacing": "24",
    "options.dialstyle.corners": "4",
    "options.dialstyle.shadow": "glow",
    "options.dialstyle.titleposition": "bottom",
    "options.fontface": "Helvetica,\"Helvetica Nueue\";arial,sans-serif",
    "options.fontsize": "11",
    "options.fontstyle": "font-weight:normal;font-style:normal;",
    "options.highlight": "0",
    "options.order": "position",
    "options.padding": "4",
    "options.refreshThumbnails": "0",
    "options.repeatbackground": "repeat-x",
    "options.scrollLayout": "1",
    "options.showAddButton": "0",
    "options.showContextMenu": "1",
    "options.showOptionsButton": "1",
    "options.showTitle": "1",
    "options.showVisits": "1",
    "options.sidebar": "1",
    "options.sidebar.showApps": "1",
    "options.sidebar.showBookmarks": "0",
    "options.sidebar.showBookmarksURL": "0",
    "options.sidebar.showDelicious": "0",
    "options.sidebar.showHistory": "1",
    "options.sidebaractivation": "position",
    "options.thumbnailQuality": "medium",
    "options.titleAlign": "center",
    "options.useDeliciousShortcut": "0",
    "refreshThumbnail": "",
    "refresh_create": "false",
    "refresh_id": "",
    "refresh_url": "",
    "requestThumbnail": "",
    "sys.cellspacing": "24",
    "sys.cols": "4",
    "sys.containerwidth": "1512px",
    "sys.dialheight": "225.60000000000002",
    "sys.dialwidth": "360",
    "sys.groups": "0",
    "sys.rows": "3",
    "sys.rowspacing": "24"
  }
}
